@model IEnumerable<StarRocks.Models.EventViewModel>
@{
    ViewData["Title"] = "Home Page";
}


<div class="container position-relative text-center text-white">
    <img src="https://cdn.discordapp.com/attachments/697767886344683560/697768922119929916/cropped-Event-page-1.png" class="img-fluid" style="width:100%;" />
    <div class="centered">Team Up IT!</div>
</div>
<br />

<div class="card p-xl-3 bg-transparent">
    <h2 class="text-center font-weight-bold "> Last Minute Events!</h2>
    <hr />
    `
    <div class="card-deck">
        <div class="card" style="width:400px;">
            <img class="card-img-top" src="https://cdn.discordapp.com/attachments/697767886344683560/714781271368269934/RST-062-img-teamUPit-2020-DaviddeHoop-600x521.png" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">Pizzasessie Chapter North | David de Hoop – GitLab</h4>
                <p class="card-text">22 mei, 2020</p>
                @{
                    foreach (var item in Model)
                    {

                        if (item.ID == 3)
                        {
                            <p>Aantal plekken: @item.MaxCapacity</p>
                            break;
                        }
                        else
                        {
                            continue;
                        }
                    }
                }
            </div>
        </div>

        <div class="card" style="width:400px;">
            <img class="card-img-top" src="https://cdn.discordapp.com/attachments/697767886344683560/714776210781110362/RST-062-img-teamUPit-GLGroups-boardgames-600x521.png" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">Chapter West: Digitale Bordspellenavond (YESS!) </h4>
                <p class="card-text">mei 29, 2020</p>
                @{
                    foreach (var item in Model)
                    {

                        if (item.ID == 3)
                        {
                            <p>Aantal plekken: @item.MaxCapacity</p>
                            break;
                        }
                        else
                        {
                            continue;
                        }
                    }
                }
            </div>
        </div>

        <div class="card" style="width:400px;">
            <img class="card-img-top" src="https://cdn.discordapp.com/attachments/697767886344683560/714776210781110362/RST-062-img-teamUPit-GLGroups-boardgames-600x521.png" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">John Doe</h4>
                <p class="card-text">Some example text.</p>
                @{
                    foreach (var item in Model)
                    {

                        if (item.ID == 3)
                        {
                            <p>Aantal plekken: @item.MaxCapacity</p>
                            break;
                        }
                        else
                        {
                            continue;
                        }
                    }
                }
            </div>
        </div>
    </div>
    <br />
    <button class="btn-dark" type="button" onclick="location.href='@Url.Action("Index","Event")'">View all events!</button>
</div>

<div class="card p-xl-3 bg-transparent">
    <h2 class="text-center font-weight-bold "> Upcoming Events!</h2>
    <hr />
    `
    <div class="card-deck">
        <div class="card" style="width:400px;">
            <img class="card-img-top" src="https://cdn.discordapp.com/attachments/697767886344683560/714781271368269934/RST-062-img-teamUPit-2020-DaviddeHoop-600x521.png" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">Pizzasessie Chapter North | David de Hoop – GitLab</h4>
                <p class="card-text">22 mei, 2020</p>
            </div>
        </div>

        <div class="card" style="width:400px;">
            <img class="card-img-top" src="https://cdn.discordapp.com/attachments/697767886344683560/714776210781110362/RST-062-img-teamUPit-GLGroups-boardgames-600x521.png" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">Chapter West: Digitale Bordspellenavond (YESS!) </h4>
                <p class="card-text">mei 29, 2020</p>
            </div>
        </div>

        <div class="card" style="width:400px;">
            <img class="card-img-top" src="https://cdn.discordapp.com/attachments/697767886344683560/714776210781110362/RST-062-img-teamUPit-GLGroups-boardgames-600x521.png" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">John Doe</h4>
                <p class="card-text">Some example text.</p>
            </div>
        </div>
    </div>
    <br />
    <button class="btn-dark" type="button" onclick="location.href='@Url.Action("Index","Event")'">View all events!</button>
</div>


<div class="card-body">
    <h2 class="font-weight-bold text-center p-3">About Us</h2>
    <div class="row">
        <div class="col-6 img-fluid"><img src="https://cdn.discordapp.com/attachments/697767886344683560/714819528550514728/group-sky-jump-military-formation-extreme-sport-749603-pxhere-e1514896669553.png" style="width:500px; height:300px;" /></div>
        <div class="col-6 font-italic">Team Up IT is de opleidingstak van Team Rockstars IT. Team Up IT staat voor ontwikkeling. IT Rockstars zijn op de hoogte van wat er speelt in hun vakgebied en voelen de drang de beste versie van hunzelf te worden! Bij Team Up IT bieden we de ontwikkelmogelijkheden op verschillende gebieden om dit te bereiken. Deze website geeft je een beeld van de kansen die we je kunnen bieden op jouw gewenste ontwikkelgebied. Vervolgens maak je in overleg met je Rockstars Coach een programma dat goed aansluit bij jouw groeiwensen! Je kan denken aan een rol als lead developer, projectmanager, architect, consultant of ondernemer. Op die manier verzeker je jezelf niet alleen nu van een goede carrière, maar zorg je er ook dat je over 5 jaar aan de absolute top staat. Prikkel jezelf en ga voor ontwikkeling! </div>

    </div>
</div>
<hr />
<div class="card-body p-xl-3">
    <h2 class="font-weight-bold text-center p-3">Opleidingen</h2>
    <div class="row">

        <div class="col-8 font-italic">Team Up IT is de opleidingstak van Team Rockstars IT. Team Up IT staat voor ontwikkeling. IT Rockstars zijn op de hoogte van wat er speelt in hun vakgebied en voelen de drang de beste versie van hunzelf te worden! Bij Team Up IT bieden we de ontwikkelmogelijkheden op verschillende gebieden om dit te bereiken. Deze website geeft je een beeld van de kansen die we je kunnen bieden op jouw gewenste ontwikkelgebied. Vervolgens maak je in overleg met je Rockstars Coach een programma dat goed aansluit bij jouw groeiwensen! Je kan denken aan een rol als lead developer, projectmanager, architect, consultant of ondernemer. Op die manier verzeker je jezelf niet alleen nu van een goede carrière, maar zorg je er ook dat je over 5 jaar aan de absolute top staat. Prikkel jezelf en ga voor ontwikkeling! </div>
        <div class="col-4 img-fluid"><img src="https://cdn.discordapp.com/attachments/697767886344683560/714822245712789534/image-1-4-e1514897346316.png" style="width:300px; height:200px;" /></div>
    </div>
</div>