@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@using StarRocks.Data.Entities
@using Microsoft.AspNetCore.Identity
@model IEnumerable<StarRocks.Models.EventViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-5 AdminTitle">Events List</h1>
<ul class="AdminNav">
    <li class="AdminControl"><a class="AdminLink" asp-area="" asp-controller="Admin" asp-action="AdminProfile">Profiel</a></li>
    <li class="AdminControl"><a class="AdminLink" asp-area="" asp-controller="Admin" asp-action="AdminInbox">Inbox</a></li>
    <li class="AdminControl"><a class="AdminLink" asp-area="" asp-controller="Event" asp-action="test">Events</a></li>
</ul>

<script language="javascript">
    function toggle(source) {
        checkboxes = document.getElementsByName('foo');
        for (var i = 0, n = checkboxes.length; i < n; i++) {
            checkboxes[i].checked = source.checked;
        }
    }
</script>



<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Date
                </th>
                <th>
                    Category
                </th>
                <th>
                    Location
                </th>
                <th>
                    Limit
                </th>
                <th>
                    Host
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaxCapacity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccountID)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { ID = item.ID }) |
                        @Html.ActionLink("Delete", "Delete", new { ID = item.ID }, new { onclick = "return confirm('Are sure wants to delete?');" }) |
                        @*@Html.ActionLink("Inschrijven", "Participate", new { ID = item.ID })*@


                        @*<a asp-area="" asp-controller="EventRegistration" asp-action="Create">Inschrijven</a>*@
                    </td>
                </tr>
            }
    </table>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="AdminEvents">Back to List</a>
</div>


<div class="AddEvents">
    <label for="Eventname">Event</label><br />
    <input type="text" id="EventName" /><br /><br />
    <label for="EventDate">Gepland voor</label><br />
    <input type="text" id="EventDate" /><br /><br />

    <input type="submit" class="AddEvent" value="Event toevoegen">
</div>

