@model IEnumerable<StarRocks.Models.EventViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="h2 pt-3 text-center font-weight-bold">UPCOMING EVENTS</div>
<div class="pb-3 text-center font-weight-normal">Bijzijn bij events = meemaken bij Team Rockstars IT! Kies een event naar eigen keuze en maak je klaar voor een verfrissende IT toekomst!</div>
<hr />

@foreach (var item in Model)
{
    <div class="container">

        <div class="card-body">
            <h2 class="font-weight-bold text-center pb3">@Html.DisplayFor(ModelItem => item.Name)</h2>
            <div class="row pt-3">
                <div class="col-5 img-fluid"><img src="~/Images/@Html.DisplayFor(ModelItem =>item.ID) event.jpg" style="width:350px; height:200px;" /></div>
                <div class="col-7 font-weight-light ">
                    @Html.DisplayFor(ModelItem => item.Description)
                </div>
            </div>

            <div class="row pt-3">
                <div class="col font-weight-bolder">
                    @Html.DisplayFor(ModelItem => item.Date)


                </div>
                <div class="col-6 font-weight-bolder">
                    @Html.DisplayFor(ModelItem => item.Location)

                </div>
                <div class="col text-white">

                    @Html.ActionLink("Inschrijven", "Create", "EventRegistration", new { ID = item.ID })|
                    @*<button class="btn-warning float-right" type="button" onclick="location.href='@Url.Action("Index", "Event")'">Sign In!</button>*@

                </div>
            </div>
        </div>
    </div>
    <hr />
}

